#logo{
width: 300px;
height: 100px;}

#insta{
width: 50px;
height: 50px;}

#twt{
width: 50px;
height: 40px;}

div1{
position:fixed;
background-color:white;
top:0px;
left:0px;
right:0px;
padding:50px;
}

footer{
position:fixed;
bottom:0px;
background-color:white;
left:0px;
right:0px;
}
